.social-link {
    padding: 2px 8px 4px 8px !important;
    color: white;
    font-size: 14px;
    margin-right: 8px;
    cursor: pointer;
    margin-top: 2px;
    display: inline-block;
    text-decoration: none;
		border: 1px solid #f0f0f0 !important;
		background: white;
}

.social-link:hover,.social-link:active {
}

.social-twitter {
	color: #0084b4 !important
}

.social-twitter:hover, .social-twitter:active {
  border-color: #0084b4 !important;
}

.social-facebook {
	color: #2d4372 !important;
}

.social-facebook:hover,.social-facebook:active {
    border-color: #2d4372 !important;
}

.social-email {
	color: black !important;
}

.social-email:hover,.social-email:active {
    border-color: black !important;
}

.social-googleplus {
	color: #b53525 !important;
}

.social-googleplus:hover,.social-googleplus:active {
    border-color: #b53525 !important;
}
.social-whatsapp {
	color: #25d366 !important;
}

.social-whatsapp:hover,.social-whatsapp:active {
    border-color: #25d366 !important;
}

.social-buffer {
	color: #222 !important;
}

.social-buffer:hover,.social-buffer:active {
    border-color: #222 !important;
}

.social-pinterest {
	color: #bd081c !important;
}

.social-pinterest:hover,.social-pinterest:active {
    border-color: #bd081c !important;
}

.social-linkedin {
	color: #006288 !important;
}

.social-linkedin:hover,.social-linkedin:active {
    border-color: #006288 !important;
}
