@font-face {
    font-family: 'caaires';
    src: url('caaires-webfont.eot');
    src: url('caaires-webfont.eot?#iefix') format('embedded-opentype'),
         url('caaires-webfont.woff2') format('woff2'),
         url('caaires-webfont.woff') format('woff'),
         url('caaires-webfont.ttf') format('truetype'),
         url('caaires-webfont.svg#ca_airesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
