html, body {
	background-color: theme-color(background);
	color: theme-color(secondary);
}

.body-text {
	p { font-family: $font-family-adelle; }
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.navbar {
	$border-navbar: solid theme-color(secondary);

	display: grid;
	grid-gap: 0;

	@include media-breakpoint-up(md) {
		grid-template-columns: max-content 1fr max-content;
		grid-template-rows: auto;
		grid-template-areas:
		"logo prompter cta"
		"logo menu cta";
	}
	@include media-breakpoint-down(sm) {
		grid-template-columns: max-content 1fr max-content;
		grid-template-rows: auto auto;
		grid-template-areas:
		"logo prompter toggler";
	}

	background: theme-color(background);
	border-bottom: 2px $border-navbar;
	padding: 0;
	box-shadow: 0px 2px 0px 0px theme-color(background);

	.ctl-logo {
		grid-area: logo;
		align-self: stretch;
		padding: 8px 16px 8px 16px;
		border-right: 4px $border-navbar;

		svg {
			fill: theme-color(secondary);
			width: 38px;
			height: 100%;
		}
	}

	.ctl-menu {
		grid-area: menu;
		align-self: stretch;
		padding-top: 4px;
		@extend .dotted;
	}

	.ctl-prompter {
		align-self: stretch;
		width: 100%;
		padding-top: 4px;
		padding-bottom: 4px;

		display: flex;
		flex-direction: column;
		justify-content: center;

		overflow: hidden;
		white-space: nowrap;
		span {
			display: inline-block;
			min-width: 100%;
			animation: marquee 15s linear infinite;
		}

		grid-area: prompter;
		font-family: 'sharp15', sans-serif;
		text-transform: uppercase;
		letter-spacing: .05em;
		color: theme-color(primary);

	}



	&-nav {
		height: 100%;
		.menu-item {
			display: flex;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: .24em;
			border-left: 1px $border-navbar;
			margin-left: -1px;
			padding-bottom: 2px;
			.nav-link {
				align-self: flex-end;
				padding: 4px 2em 4px 2em;
				display: block;
				color: theme-color(secondary)
			}
			&:hover {
				padding-bottom: 0px;
				border-bottom: 2px $border-navbar;
			}
			&.current-menu-item {
				pointer-events: none;
				background: theme-color(secondary);
				a {
					color: theme-color(background) !important;
				}
			}
		}
	}

	// navbar end
}

.ctl-cta {
	grid-area: cta;
	align-self: stretch;
	position: relative;
	padding-top: 28px;

	&:after, &:before {
		content: '';
		width: calc(100% - 1px);
		height: 0px;
		border-bottom: 30px double theme-color(primary);
		background: transparent;
		display: block;
		position: absolute;
		left: 1px;
		top: 0px;
	}
	&:before {
		top: 13px;
		border-bottom: 4px solid theme-color(primary);
	}

}

.menu-sheet, #toggler {
	display: none;
}

@include media-breakpoint-down(sm) {
	#toggler {
		display: block;
	}
	.menu-sheet {
		display: flex;
		pointer-events: none;
		height: 100vh;
		width: 100vw;
		background: theme_color('background');
		position: fixed;
		z-index: 998;
		top: -100vh;
		left: 0;
		transition: .4s $easing;

		.ctl-cta {
			margin-top: 2rem;
		}
		.menu-item {
			border-left: none !important;
			color: theme_color('secondary');
			opacity: 0;
			transform: translateY(12px);
			transition: .3s $easing;
			@include fluid-type(24px, 48px, 768px, 1140px);

			span {
				text-decoration: none;
				background-image: linear-gradient(currentColor, currentColor);
				background-position: 0% 100%;
				background-repeat: no-repeat;
				background-size: 0% 1px;
				transition: background-size .3s $easing;
				&:hover {
					text-decoration: none;
					background-size: 100% 1px;
				}
			}
		}
	}
}

body.menu-open {

	@include media-breakpoint-down(sm) {

		.menu-sheet {
			pointer-events: auto;
			left: 0;
			top: 0;
			.menu-item {
				transform: none;
				opacity: 1;
			}
			@for $i from 1 through $iterations {
				.menu-item:nth-child(#{$i}) {
					transition-delay: 100+$i*100ms;
				}
			}
		}

	}
}

body.loading, body.transition{

	.hamburger {
		opacity: 0;
	}

	.menu-sheet {
		pointer-events: none;
	}
}

.navbar-collapse, .navbar-toggler {
	transition: .3s;
}
/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/
.hamburger {
	grid-area: toggler;
	padding: 15px 15px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	border-left: 2px dotted theme-color(secondary) !important;
	overflow: visible;
}
@include mouse {
	.hamburger:hover {
		opacity: 0.7;
	}
	.hamburger.is-active:hover {
		opacity: 0.7;
	}
}
body.menu-open .hamburger .hamburger-inner,
body.menu-open .hamburger .hamburger-inner::before,
body.menu-open .hamburger .hamburger-inner::after {
	background-color: theme-color(primary);
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: theme-color(primary);
	border-radius: 0;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}


/*
* Collapse
*/
.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	transition-duration: 0.13s;
	transition-delay: 0.13s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
	top: -20px;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body.menu-open .hamburger--collapse .hamburger-inner {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
	transition-delay: 0.22s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
body.menu-open .hamburger--collapse .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
body.menu-open .hamburger--collapse .hamburger-inner::before {
	top: 0;
	transform: rotate(-90deg);
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wpcf7-form-control {
	padding-left: 0px !important;
	border-width: 0px !important;
	border-bottom-width: 1px !important;
	border-radius: 0px !important;
	background: transparent !important;
	&:focus, &:active {
		box-shadow: none !important;
		outline: none !important;
	}
}

.form-control:focus, .wpcf7 .wpcf7-validation-errors:focus, .wpcf7 input[type=text]:focus, .wpcf7 input[type=search]:focus,
.wpcf7 input[type=url]:focus, .wpcf7 input[type=tel]:focus, .wpcf7 input[type=number]:focus, .wpcf7 input[type=range]:focus, .wpcf7 input[type=date]:focus, .wpcf7 input[type=month]:focus, .wpcf7 input[type=week]:focus, .wpcf7 input[type=time]:focus, .wpcf7 input[type=datetime]:focus, .wpcf7 input[type=datetime-local]:focus, .wpcf7 input[type=color]:focus, .wpcf7 input[type=email]:focus, .wpcf7 input[type=file]:focus, .wpcf7 input[type=submit]:focus, .wpcf7 select:focus,
.wpcf7 textarea:focus {
	border-color: theme-color(secondary) !important;
}

.cf7mls_next, .cf7mls_back, .wpcf7-submit {
	background: transparent !important;
	border: 1px solid theme-color('secondary') !important;
	border-radius: 0 !important;
	color: theme-color('secondary') !important;
	&:hover {
		background: theme-color('secondary') !important;
		color: white !important;
	}
}

.wpcf7-textarea {
	background: white !important;
}

.flickity-viewport {
	transition: height 0.2s;
}

.btn-lg {
	padding: calc(1em / 1.618) 1em;
}

.btn:focus {
	box-shadow: none !important
}

.navbar>.container, .navbar>.container-fluid {
	padding-left: 15px;
	padding-right: 0;
}

.section {
	padding-top: 3rem;
	padding-bottom: 3rem;

}

#wrapper-footer-full, #wrapper-static-hero {
	background: transparent;
}

.display-1 {
	line-height: 1;
}

.section {
	&--intro {
		.quick-links {
			margin-top: .05em;
			vertical-align: text-top;
			list-style-type: none;
			padding-left: 0;
			display: inline-block;
		}
	}
}

.dotted {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 67 22.3' style='enable-background:new 0 0 67 22.3;fill:%231D1D1B;'%3E%3Ccircle cx='0' cy='11.1' r='11.1'/%3E%3Ccircle cx='67' cy='11.1' r='11.1'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: 8px;
	background-position: top left;
}

.zigzag--bottom {
	background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 24.1.0, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 19.3' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23f6a40b;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpolygon class='st0' points='64,3.3 32,19.3 0,3.3 0,0 64,0 '/%3E%3C/svg%3E%0A");
	background-repeat: repeat-x;
	background-size: 32px ;
	background-position: bottom center;
}
.wave--bottom {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 16' style='enable-background:new 0 0 64 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23e74026;stroke-width:3;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,2c16,0,16,12,32,12S48,2,64,2'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: 16px;
	background-position: bottom center;
}
.wave--top {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 16' style='enable-background:new 0 0 64 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23e74026;stroke-width:3;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,2c16,0,16,12,32,12S48,2,64,2'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-size: 16px 32px;
	background-position: bottom center;
}

.label {
	font-family: 'sharp25', sans-serif;
	font-size: .5rem;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.typeonapath {
	.svgtext {
		font-family: $font-family-caaires;
		font-size: 1.5rem;
		letter-spacing: .2em;
		text-transform: uppercase;
	}
}

.btn {
	text-transform: uppercase;
	font-size: 60%;
	padding: calc(1em / 1.618) 1em;
	letter-spacing: .2em;
}

.produto {
	a {
		&:hover {
			text-decoration: none;
		}
	}
	&--marmita {
		// height: 0px;
		// padding-bottom: 40%;
		// overflow: hidden;


		.row {
			margin-left: 0;
			margin-right: 0;
			background: theme-color(tertiary);
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66 23' style='enable-background:new 0 0 66 23;fill:%23e9d5bc;'%3E%3Ccircle cx='33.5' cy='11.1' r='11.1'/%3E%3C/svg%3E");
			background-repeat: repeat-x;
			background-size: 16.5px 5.75px;
			background-position: 50% calc(100% + 4px);
		}

		.produto {
			&__titulo {
				font-family: $font-family-adelle;
				font-weight: 700;
				color: theme-color(secondary);
				font-size: 1.2rem;
				line-height: 1.2;

				height: calc(2em * 1.2);

				text-overflow: ellipsis;
				text-overflow: -o-ellipsis-lastline;
				overflow: hidden;

				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;

			}
			&__desc {
				font-family: $font-family-adelle;
				font-weight: 100;
				font-style: italic;
				font-size: .8rem;
				letter-spacing: .025em;
				line-height: 1.4;
				margin-bottom: .5rem;

				height: calc(5em * 1.4);
				text-overflow: ellipsis;
				text-overflow: -o-ellipsis-lastline;
				overflow: hidden;

				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;

				text-overflow: ellipsis;
				p {
					margin-bottom: 0;
				}
			}
			&__preco {
				font-family: 'sharp25', sans-serif;
				font-size: .8rem;
			}
			&__addtocart {
				.btn {
					display: block;
					padding: calc(2em / 1.618) 2em;
					width: 100%;
				}
			}
			&__link {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 66 23' style='enable-background:new 0 0 66 23;fill:%23e9d5bc;'%3E%3Ccircle cx='33.5' cy='11.1' r='11.1'/%3E%3C/svg%3E");
				background-repeat: repeat-x;
				background-size: 16.5px 5.75px;
				background-position: 50% -3px;
				padding-top: 12px;
				background-color: theme-color(tertiary);
				transform-origin: top left;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				@include mouse {
					&:hover {
						transform: rotate(2deg);
					}
				}
			}

		}
	}
}

.modal {
	.fechar {
		position: absolute;
		right: 8px;
		top: 8px;
		z-index: 2;
		background: transparent;
		border: 2px solid theme-color(secondary);
		color: theme-color(secondary);
		border-radius: 999px;
		width: 42px;
		height: 42px;
		box-shadow: -2px 2px 0 0 theme-color(tertiary), 1px 1px 0 0 theme-color(tertiary);
		text-shadow: -2px 2px theme-color(tertiary);
		&:hover {
			transform: rotate(30deg);
		}
	}
	&--produto {
		.modal-content {
			position: relative;
			//background: theme-color(tertiary);
			border-radius: 8px;
		}
		.woocommerce-variation-add-to-cart {
			margin-bottom: 0;
			background: theme-color(tertiary);
		}
		.produto {
			&__titulo {
				@include fluid-type(1.4rem, 2rem, 768px, 1140px);
				-webkit-line-clamp: initial !important;
				-webkit-box-orient: vertical;
				height: auto;
			}
			&__desc {
				flex-grow: 1;
				-webkit-line-clamp: initial !important;
				-webkit-box-orient: vertical;
				height: auto;
				font-size: 1rem;
				p {
					margin-bottom: 0;
				}
			}

			&--marmita {
				.row {
					background-image: none !important;
					&:after {
						content: '';
						position: absolute;
						width: 100%;
						height: 8px;
						@extend .zigzag--bottom;
						bottom: -8px;
						left: 0;
					}
				}
			}
		}
	}
}

.woocommerce-variation-availability {


	p {
		margin-bottom: 0;
		background: theme-color(light);
		border: 1px solid theme-color(primary);
		display: inline-block;
		border-radius: 999px;
		padding: calc(.5em / 1.618) .5em;
		font-size: 80%;
		margin-bottom: .5rem;
	}

}

a, button, input[type="submit"] {
	touch-action: manipulation !important;
	user-select: none !important;
}

.ch-qty {
	display: flex;
	margin-bottom: 1rem;
	border-top: 4px solid theme-color(secondary);

	button.plus, button.minus {
		align-self: center;
		order: 1;
		background: transparent;
		transition: all 0.3s;
		display: inline-block;
		width: 48px;
		height: 48px;
		color: theme-color(secondary);
		cursor: pointer;
		border: 1px solid transparent;
		position: relative;
		white-space: nowrap;
		line-height: 1;
		border-right: 1px solid theme-color(secondary);

		&:active {
			background: theme-color(secondary);
			color: theme-color(tertiary);
		}
		&.disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
	button.plus {
		order: 3;
		border-left: 1px solid theme-color(secondary);
		border-right: none;
	}
}

.product-quantity {
	display: flex;

	button.plus, button.minus {
		align-self: center;
		order: 1;
		background: transparent;
		transition: all 0.3s;
		display: inline-block;
		width: 24px;
		height: 24px;
		color: theme-color(secondary);
		cursor: pointer;
		border: 1px solid transparent;
		position: relative;
		white-space: nowrap;
		line-height: 1;
		border-right: 1px solid theme-color(secondary);

		&:active {
			background: theme-color(secondary);
			color: theme-color(background);
		}
		&.disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
	button.plus {
		order: 3;
		border-left: 1px solid theme-color(secondary);
		border-right: none;
	}
}

.tawcvs-swatches {
	padding: 0;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

.reset_variations {
	display: none !important;
}

.cart_item .product-thumbnail {
	max-width: 48px;
}

.ctl-cart {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	padding: 12px;
	@include media-breakpoint-down(sm) {
		padding-bottom: 24px;
	}
	z-index: 997;
	position: sticky;
	position: -webkit-sticky;
	bottom: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	left: var(--remainder);
	width: calc(100vw - (var(--remainder)*2) );
	background: theme-color(primary);
	color: theme-color(background);

	&.animate {
		color: theme-color(primary);
	}

	&:hover {
		color: theme-color(background);
	}

	&__count {
		align-self: center;
	}
	&__goto {
		text-align: center;
		text-transform: uppercase;
		font-size: 60%;
		letter-spacing: .2em;
		align-self: center;
	}
	&__total {
		align-self: center;
		text-align: right;
	}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.quantity {
	flex: 1;
	flex-grow: 1;
	order: 2;

	input {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		width: 100%;
		background: transparent !important;
		background-color: transparent !important;
		border: none !important;
		text-align: center;
		font-family: clarendon-urw-extra-narrow,serif;
		font-weight: 100;
		font-size: 4rem;
		color: theme-color(secondary);
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
			-webkit-appearance: none !important;
			-moz-appearance: textfield;
			margin: 0;
		}
	}
}

.cart_totals th {
	border-top: 1px solid theme-color(secondary) !important;
}

.shop_table {
	border-radius: 0 !important;
	border: none !important;
	margin-bottom: 0 !important;

	th {
		@extend .label;
		&.product-price {
			text-align: right;
		}
		&.product-quantity {
			text-align: center;
		}

	}

	td {
		font-size: .7rem;

		&.product-price {
			text-align: right;
		}
		&.product-quantity {
			text-align: center;
		}

		border-top: 1px solid theme-color(secondary) !important;

	}
	.qty {
		font-size: 1.2rem;
		border-bottom: 1px dotted theme-color(secondary) !important;
	}

}

.woocommerce-Price-currencySymbol {
	font-family: $font-family-adelle;
	font-weight: 100;
	font-style: italic;
	font-size: 1em;
	margin-right: .5em;
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
	border-right: 2px solid theme-color(secondary);
	border-top: 0;
}

.woocommerce-info, .woocommerce-message, .woocommerce-error {
	background: transparent !important;
	padding-left: 0px;
	font-size: .8rem;
	text-transform: uppercase;
	display: block;

	&:before {
		display: none !important;
	}
}
.woocommerce-info, .woocommerce-message {
	border-bottom: 2px solid theme-color(info) !important;
	border-top: 4px solid theme-color(info) !important;
	color: theme-color(info);
}
.woocommerce-error {
	border-bottom: 2px solid theme-color(danger) !important;
	border-top: 4px solid theme-color(danger) !important;
	color: theme-color(danger);
}

.control-label {
	@extend .label;
	.required {
		color: theme-color(primary) !important;
		font-family: clarendon-urw-extra-narrow, serif !important;
	}
	margin-bottom: -.25rem;
}
.form-group {
	margin-bottom: 1rem !important;
}

.form-control, .woocommerce-input-wrapper input {
	padding-left: 0;
	background: transparent;
	color: theme-color(secondary);
	border: none;
	border-bottom: 2px dotted theme-color(secondary);
	font-family: $font-family-adelle;
	margin-bottom: 1rem !important;

	&:active  {
		background: transparent;
		border-bottom-style: solid !important;
		box-shadow: none !important;
	}
	&:focus {
		background: transparent;
		box-shadow: none !important;
	}
	&::placeholder {
		@extend .woocommerce-Price-currencySymbol;
		color: transparentize(theme-color(secondary),.8);
	}
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: theme-color(secondary)
}

.select2-dropdown {
	background: theme-color(background);
	border-radius: 0 !important;
	border: 2px solid theme-color(secondary);
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
	background: theme-color(secondary);
	color: theme-color(background);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: none;
	background: transparent;
	border-bottom: 2px dotted theme-color(secondary);
}

.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
	border-color: theme-color(secondary) !important;
}

.woocommerce-form-coupon {
	border: none !important;
	border-bottom: 2px solid theme-color(primary) !important;
	border-radius: 0px !important;
	@extend .dotted;
}

.woocommerce-checkout h3, .woocommerce-order-details h2 {

	font-family: 'sharp10', sans-serif;
	text-transform: uppercase;
	font-size: 3.5rem;
	text-align: center;
	border-bottom: 1px solid theme-color(secondary);
	border-top: 4px solid theme-color(secondary);
	margin-bottom: 1rem;
	margin-top: 4rem;

}

.cart_totals {
	background-color: theme-color(tertiary);
	position: relative;
	display: block;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 8px;
		@extend .zigzag--bottom;
		bottom: -8px;
		left: 0;
	}
	h2 {
		font-family: 'sharp10', sans-serif;
		text-transform: uppercase;
		font-size: 3.5rem;
		text-align: center;
		border-bottom: 1px solid theme-color(secondary);
		border-top: 4px solid theme-color(secondary);
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}

.select2-container--default .select2-selection--single {
	background: transparent !important;
	border-radius: 0px;
	border: none;
	border-bottom: 2px dotted theme-color(secondary);
}

.woocommerce form .form-row.woocommerce-invalid label {
	color: theme_color(primary) !important;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
	border-color: theme-color(primary) !important;
}

.woocommerce a.remove {
	color: theme-color(primary) !important;
	&:hover {
		color: theme-color(secondary) !important;
		background: transparent !important;
	}
}

.woocommerce-cart-form {
	border: 4px solid theme-color(secondary);
}
.modal-content {
	background: transparent;
	border: none !important;
	.carregando {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 76px;
	}
}

.wc-proceed-to-checkout {
	padding: 15px;
}

.woocommerce .blockUI.blockOverlay, .woocommerce .loader {
	background-color: transparent !important;
	opacity: 1 !important
}
.woocommerce .blockUI.blockOverlay:before,
.woocommerce .loader:before {
	height: 100%;
	width: 100%;
	position: absolute;
	top: .5em;
	left: .5em;

	display: block;
	content: "";
	-webkit-animation: none;
	-moz-animation: none;
	animation: none;
	background-image: url('../img/ctl-loading.gif'), linear-gradient(to bottom, transparentize(theme-color(background),.2), transparentize(theme-color(background),.2)) !important;
	background-position: center center;
	background-size: 76px, auto !important;
	background-repeat: no-repeat;
	line-height: 1;
	text-align: center;
	font-size: 2em;
}

.cart-collaterals {
	.flair {
		display: none;
		@include media-breakpoint-up(md) { display: block; float: left; }
		transform: rotate(-2deg);
		h4 {
			font-family: 'sharp25', sans-serif;
			margin-top: 2rem;
			color: theme-color(primary);
			@include fluid-type(.6rem, .8rem, 768px, 1140px);
			margin-bottom: -1em;
			text-transform: uppercase;
		}
		h3 {
			margin-top: 0;
			text-align: center;
			font-family: clarendon-urw-extra-narrow,serif;
			font-weight: 100;
			@include fluid-type(2rem, 6rem, 768px, 1140px);
			color: theme-color(primary);
		}
	}
}

.cat-icon {
	pointer-events: none;
	position: absolute;
	display: inline-block;
	height: 48px;
	right: -12px;
	top: -12px;
	padding-bottom: 0px;
	img {
		object-fit: contain !important;
		object-position: right !important;
	}
}

.em-breve {
	pointer-events: none;
	a {
		position: relative;
		display: block !important;
		&:after {
			content: 'Tá chegando';
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 2;
			width: auto;
			white-space: nowrap;
			top: 0%;
			font-size: 8px;
			padding: 4px;
			transform: translate(-50%,0) rotate(-2deg);
			background: theme-color(tertiary);
		}
	}
}

.marmitas {

	&--explicacao {
		text-align: center;
		font-family: $font-family-adelle;
		font-size: .9rem;
		letter-spacing: .03em;
		strong {
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	&--premios {
		font-family: $font-family-adelle;
		font-size: .9rem;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: .02em;
		strong {
			color: theme-color(primary);
			display: block;
		}
		.ico {
			fill: theme-color(primary);
			height: 1.2em;
			margin-bottom: .3rem;
		}
	}

	&--box {
		font-family: $font-family-adelle;
		font-size: .8rem;
		@include media-breakpoint-up(md) {
			margin-top: 2rem;
			border-top: 4px solid theme-color(primary);
			border-bottom: 4px solid theme-color(primary);
		}
			padding: 8px;
			text-align: center;
			margin-bottom: 2rem;
			p {
				margin-bottom: .2rem;
			}
			h5 {
				margin-bottom: -.2rem;
				color: theme-color(primary);
				text-transform: uppercase;
				font-weight: 700;
				font-size: 1.2rem;
				font-family: $font-family-adelle;
				letter-spacing: .1em;
			}
	}

}

@keyframes slide {
    from { background-position: 0; }
    to { background-position: -100%; }
}

.product-subtotal {
	text-align: right;
}

.ajax_add_to_cart {
	&.adding {
		opacity: 0.2;
		pointer-events: none;
	}
}

.wc-forward {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-block;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: transparent !important;
	border-radius: 0 !important;
	margin-top: 2rem;
}

.wc_payment_method {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px dotted theme-color(secondary);
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
	background-color: theme-color(tertiary);
	color: theme-color(secondary);
	font-family: $font-family-adelle;
}

.woocommerce-terms-and-conditions-wrapper {
	font-family: $font-family-adelle;
}

#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
	display: none;
}

.woocommerce form .form-row label {

	line-height: 1;
	text-transform: uppercase;
	font-size: .7rem;
	letter-spacing: .2em;
	padding-left: 0 !important;
	font-family: 'sharp25', sans-serif;
	margin-bottom: .2rem;
}

#add_payment_method #payment div.payment_box input.input-text, #add_payment_method #payment div.payment_box textarea, .woocommerce-cart #payment div.payment_box input.input-text, .woocommerce-cart #payment div.payment_box textarea, .woocommerce-checkout #payment div.payment_box input.input-text, .woocommerce-checkout #payment div.payment_box textarea {
	border: none !important;
	background: transparent !important;
	padding-left: 15px !important;
	box-shadow: none !important;
	border-bottom: 1px dotted theme-color(secondary) !important;
	&::placeholder {
		color: transparentize(theme-color(secondary),.8);
	}
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
	border-bottom: none !important;
}

.wc_payment_method > label {
	text-transform: uppercase;
	&:hover {
		color: theme-color(primary);
	}
}

.wc_payment_method > input {
	display: none !important;
}

.wavy-text {
	font-family: $font-family-adelle;
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .3em;
	margin-bottom: 1.8rem;
	color: theme-color(primary);
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;

	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		@extend .wave--top;
		top: -8px;
		left: 0;
		animation: slide 5s linear infinite;
	}
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		@extend .wave--bottom;
		bottom: -8px;
		left: 0;
		animation: slide 5s linear infinite;
	}
}

.ctl-ico {
	height: 2em;
	margin-bottom: .5em;
	&--sm {
		height: 1em;
	}
}

.manicula {
	position: absolute;
	right: -15px;
	top: 50%;
}

@include media-breakpoint-up(md) {
  .separador-right {
    border-right: 3px double theme-color(primary)
  }

}

.footer-credits {
	font-family: 'sharp25', sans-serif;
	text-transform: uppercase;
	letter-spacing: .06em;
	font-size: .7rem;
}

.footer-widget {
	h3 {
		font-family: 'sharp25', sans-serif;
		text-transform: uppercase;
		letter-spacing: .06em;
		font-size: .7rem;
	}
	.textwidget {
		p {
			font-family: $font-family-adelle;
			font-size: .8rem;
			line-height: 1.2;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.navbar-expand-md .ctl-cta, .navbar-expand-md .ctl-menu, .hamburger {
//MARMITAS
display: none !important;
}

.navbar {
	// MARMITAS
	@include media-breakpoint-up(md) {
		grid-template-areas:
		"logo prompter cta"
		"logo prompter cta";
	}
	@include media-breakpoint-down(sm) {
		grid-template-areas:
		"logo prompter prompter";
	}
}

@include media-breakpoint-down(sm) {

	.woocommerce .quantity .qty {
		width: 100% !important;
	}

	.woocommerce table.shop_table_responsive tr td.product-quantity, .woocommerce-page table.shop_table_responsive tr td.product-quantity {
		display: flex !important
	}
	.woocommerce table.shop_table_responsive tr td.product-quantity::before, .woocommerce-page table.shop_table_responsive tr td.product-quantity::before {
		content: '';
		display: none;
	}

	.woocommerce table.cart td.actions {
		display: flex;
		flex-direction: column;
		button {
			order: 1;
			margin-bottom: 2rem;
		}
		.coupon {
			order: 2;
		}
	}

}

.svgtext--lg {
	font-weight: 800;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.control-label {
	.optional {
		display: none;
	}
}
