@font-face {
    font-family: 'serendipity';
    src: url('serendipitybold-webfont.woff2') format('woff2'),
         url('serendipitybold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'serendipity';
    src: url('serendipitylight-webfont.woff2') format('woff2'),
         url('serendipitylight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
